{% extends 'TwigBundle:Exception:_baseError.html.twig' %}

{% block body %}
    <div class="row">
        <h1><i class="em em-angry"></i> WTF!?</h1>
    </div>
    <div class="row">
        <p>What are you trying to do?</p>
    </div>
{% endblock %}
