{% extends 'TwigBundle:Exception:_baseError.html.twig' %}

{% block body %}
    <div class="row">
        <h1><i class="em em-anguished"></i> Oops! </h1>
    </div>
    <div class="row">
        <p>I am sorry, maybe I made a mistake ...</p>
    </div>
{% endblock %}
