/app/config/parameters.yml
/app/config/parameters_prod.yml
/app/config/vendors/sentry.yml
/bin/*
!/bin/console
!/bin/deployer
!/bin/rabbitmq-cli-consumer
!/bin/dev
!/bin/prod
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!/var/storage
/var/storage/*
!var/storage/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/css/
/web/js/
/web/assets/
/.idea/
/deploy_vars.php
.DS_Store
