{% extends "::base.html.twig" %}

{% block title %}AppBundle:Transaction:add{% endblock %}

{% block body %}
<h1>Welcome to the Transaction:add page</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
