<!DOCTYPE html>
<html>
<head>
    <title>Vault {% block title %}{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>

<body>
{% block body %}{% endblock %}
</body>
</html>
