{% extends '@Mail/layout.html.twig' %}
{# transaction \AppBundle\Entity\Transaction #}
{% block preheader %}
    Vault, money transaction added!
{% endblock %}

{% block content %}
    <p>New Transaction has just been added by {{ transaction.transactedBy.nickName }}</p>
    <p>Amount transacted: {{ transaction.amount | number_format(2) }} €</p>
    <p>Motivation : {{ transaction.motivation }}</p>
{% endblock %}