{% extends "::base.html.twig" %}

{% block title %}Wallet creation{% endblock %}

{% block body %}
<h1>Create new wallet</h1>

    <div>
        {{ form_start(form) }}
{#            {{ form_widget(form.name) }}#}
        {{ form_end(form) }}
    </div>
{% endblock %}
