{% extends "::base.html.twig" %}

{% block title %}AppBundle:Wallet:create{% endblock %}

{% block body %}
<h1>Welcome to the Wallet:create page</h1>

    <div>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
